* {
    font-family: Arial, Helvetica, sans-serif;
}

.textinput {
    float: left;
    width: 100%;
    min-height: 75px;
    outline: none;
    resize: none;
    border: 1px solid grey;
}

.responsive {
    width: 100%;
    height: auto;
}

.training-data-input {
    display: none;
}

.training-data-label,
.training-data-test-button,
button {
    font-size: 0.875rem;
    padding: 1rem 2rem;
    background-color: #ccc;
    display: flex;
    max-width: 10rem;
    border-radius: 1rem;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transition: 500ms;
    border: none;
}

.training-data-label:hover {
    background-color: #aaa;
}

.training-data-file-name {
    font-weight: bold;
}

.error-message {
    color: tomato;
    font-weight: bold;
}

.success-message {
    color: green;
    font-weight: bold;
}